@import "../../../sass/_mixing";
@import "../../../sass/_variables";

.sectionContainer {
  width: 100%;
  @include flex(center, center);
  gap: 2rem;
  padding: 4rem;
  flex-direction: column;
  &__title {
    color: $white;
    font-weight: 600;
    font-size: 3rem;
  }
  &__box {
    width: 100%;
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 562px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 2rem 4rem 2rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 3rem;
    }
    &__box {
      width: 100%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (max-width: 496px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 0.5rem 4rem 0.5rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 3rem;
    }
    &__box {
      width: 100%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (max-width: 451px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 0.5rem 4rem 0.5rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 2.5rem;
    }
    &__box {
      width: 100%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (min-width: 1455px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 5rem 4rem 5rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 3rem;
    }
    &__box {
      width: 90%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (min-width: 1632px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 5rem 4rem 5rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 3rem;
    }
    &__box {
      width: 80%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (min-width: 1812px) {
  .sectionContainer {
    width: 100%;
    @include flex(center, center);
    gap: 2rem;
    padding: 4rem 5rem 4rem 5rem;
    flex-direction: column;
    &__title {
      color: $white;
      font-weight: 600;
      font-size: 3rem;
    }
    &__box {
      width: 70%;
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
