@import "../../../sass/_mixing";
@import "../../../sass/_variables";

.containerHeader {
  &__box {
    height: 4rem;
    width: 100%;
    @include flex(space-between, center);
    padding: 0 4rem 0 4rem;
    border-bottom: 1.5px solid $primary;
    img {
      width: 2.25rem;
      height: 2.25rem;
      background-color: transparent;
      cursor: pointer;
    }
    button {
      background-color: $primary;
      color: $grey-1;
      border: 2px solid $primary;
      border-radius: $radius;
      height: 2rem;
      width: 5rem;
      cursor: pointer;
      font-weight: 600;
      transition: 300ms ease-in-out;
    }
    button:hover {
      transition: 300ms ease-in-out;
      transform: scale(1.1);
      background-color: transparent;
      color: $primary;
    }
  }
}
